.search-container {
  margin: 20px;
}

.search-form-text {
  width: 100%;
  flex: 1 1;
}

.search-form-button {
  flex: 0 0;
}

.search-entry {
  display: flex;
  justify-content: flex-start;
}

.search-card {
  margin-bottom: 20px;
}

.radio-group {
  margin-bottom: 10px;
}

input {
  width: 100%;
  min-width: 100%;
}

.search-input {
  width: 90%;
}

md-radio-button {
  margin-right: 20px;
}
