<div>
  <md-card class="post-card">
    <md-card-header>
      <div md-card-avatar><md-icon>{{getIcon(each.post)}}</md-icon></div>
      <md-card-title><strong>{{each.post.text}}</strong></md-card-title>
      <md-card-subtitle>{{each.post.date | date}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <!-- width="560" height="315" / width="300" height="80" -->
      <iframe *ngIf="youtubeURL(each.post)"  [src]="youtubeURL(each.post) | safe"
              frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="spotifyURL(each.post)" [src]="spotifyURL(each.post) | safe"
              frameborder="0" allowtransparency="true"></iframe>
      <p *ngIf="webURL(each.post)">
        <a [href]="webURL(each.post) | safe">{{each.post.text}}</a>
      </p>
    </md-card-content>
    <md-card-actions >
      <div class="post-card-actions">
        <div class="post-card-rating">
          <app-rating [rating]="each.post.rating" [disabled]="!(loggedIn | async)"
                      (onChanged)="onRatingClick(each.post, $event)"></app-rating>
        </div>
        <div class="post-card-show">
          <md-select class="post-card-show-select" placeholder="Show"
                     [(ngModel)]="each.post.show_key" (ngModelChange)="onSelectShow(each.post, $event)"
                     [disabled]="!(loggedIn | async)">
            <md-option *ngFor="let show of shows | async" [value]="show['$key']">
              {{ show.title }} {{show.date | date}}
            </md-option>
          </md-select>
        </div>
        <div class="post-card-menu" *ngIf="loggedIn | async">
          <button md-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
          <md-menu #menu="mdMenu">
            <button *ngIf="!!each.post.show_key" md-menu-item (click)="onRemoveFromShows(each.post)">
              <md-icon>clear</md-icon>Remove from show
            </button>
            <button md-menu-item (click)="onEdit(each.post)"><md-icon>edit</md-icon>Edit</button>
            <button md-menu-item (click)="onDelete(each.post)"><md-icon>delete</md-icon>Delete</button>
          </md-menu>
        </div>
      </div>
    </md-card-actions>
  </md-card>

</div>
