.post-card {
  margin-bottom: 10px;
}

.post-card-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.post-card-rating {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

.post-card-show {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-button {
  min-width: 35px;
  padding: 0px;
}

.card-menu {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: white;
  opacity: 0.8;
}

.post-card-show-select {
  width: 250px;
  font-size: 14px;
}

.avatar {
  font-size: 32px;
  margin-right: 10px;
}

md-card-title {
  white-space: nowrap;
  text-wrap: none;
}

.center {
  margin: auto;
  width: 50%;
}

.post-content {
  overflow: hidden;
}

