.show-front-container {
  heigth: 100%;
}
.show-card {
  margin-bottom: 10px;
}
.show-new-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.show-new-form-2 {
  margin-left: 20px;
}
