<md-card class="login-card">
  <md-toolbar color="primary">Upcoming shows</md-toolbar>
  <md-card-content>
    <br>
    <md-spinner *ngIf="loading"></md-spinner>
    <md-card class="show-card" *ngFor="let each of shows | async">
      <md-card-header>
        <div md-card-avatar>
          <md-icon>radio</md-icon>
        </div>
        <md-card-title><strong>{{each?.show?.title}}</strong></md-card-title>
        <md-card-subtitle>{{each?.show?.date | date}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <ul>
          <li *ngFor="let post of each?.posts | async">
            {{post.text}}
          </li>
        </ul>
      </md-card-content>
    </md-card>
  </md-card-content>
</md-card>
