<md-card class="login-card">
  <md-toolbar color="primary">Upcoming shows</md-toolbar>
  <md-card-content>
    <br>
    <md-spinner *ngIf="loading"></md-spinner>
    <table>
      <tr *ngFor="let each of shows | async">
        <td>
          <div>
            <strong>{{each?.show?.title}}</strong> {{each?.show?.date | date}}
            <ul>
              <li *ngFor="let post of each?.posts | async">
                {{post.text}}
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>
