<md-card class="show-upcoming-card">
  <md-toolbar color="primary">Upcoming shows</md-toolbar>
  <md-card-content>
    <br>
    <md-spinner *ngIf="loading"></md-spinner>
    <md-card class="show-card" *ngFor="let each of shows | async">
      <md-card-header>
        <div md-card-avatar>
          <md-icon>radio</md-icon>
        </div>
        <md-card-title><strong>{{each?.show?.title}}</strong></md-card-title>
        <md-card-subtitle>{{each?.show?.date | date}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table>
          <tr *ngFor="let post of each?.posts | async">
            <td><md-icon>{{postUtils.getIcon(post)}}</md-icon></td><td>{{post.text}}</td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions *ngIf="loggedIn | async">
        <button md-mini-fab (click)="onAir(show)"><md-icon>play_arrow</md-icon></button>
        <button md-mini-fab (click)="onEdit(show)"><md-icon>edit</md-icon></button>
      </md-card-actions>
    </md-card>
  </md-card-content>
</md-card>
