<div class="show-front-container">

  <md-card>
    <md-card-content>
        <form (ngSubmit)="onSubmit()">
          <div class="show-new-form">
            <div class="show-new-form-1">
              <md-input-container>
                <input md-input placeholder="Title" [(ngModel)]="newShow.title" name="title" required>
              </md-input-container>
            <md-input-container>
              <input md-input placeholder="Date" [(ngModel)]="newShow.date" name="date" required type="date">
            </md-input-container>
            </div>
            <div class="show-new-form-2">
              <button md-fab><md-icon>add</md-icon></button>
            </div>
          </div>
        </form>
      </md-card-content>
  </md-card>

  <md-spinner *ngIf="loading"></md-spinner>

  <div>
    <md-card class="show-card" *ngFor="let show of shows | async">
      <md-card-header>
        <div md-card-avatar><md-icon>radio</md-icon></div>
        <md-card-title><strong>{{show.title}}</strong> {{show.date | date}}</md-card-title>
      </md-card-header>
      <md-card-actions>
        <button md-mini-fab (click)="onEdit(show)"><md-icon>edit</md-icon></button>
        <button md-mini-fab (click)="onDelete(show)"><md-icon>delete</md-icon></button>
      </md-card-actions>
    </md-card>

  </div>
</div>
