<div class="show-front-container">

  <md-card *ngIf="loggedIn | async">
    <md-card-content>
        <form (ngSubmit)="onSubmit()">
          <div class="show-new-form">
            <div class="show-new-form-data">
              <md-input-container>
                <input mdInput placeholder="Title" [(ngModel)]="newShow.title" name="title" required>
              </md-input-container>
              <md-input-container class="input-date">
                <input mdInput placeholder="Date" [(ngModel)]="newShow.date" name="date" required type="date">
              </md-input-container>
            </div>
            <div class="show-new-form-action">
              <button md-fab><md-icon>add</md-icon></button>
            </div>
          </div>
        </form>
      </md-card-content>
  </md-card>

  <md-spinner *ngIf="loading"></md-spinner>

  <div>
    <div class="show-card" *ngFor="let show of shows | async">
      <app-show [show]="show"></app-show>
    </div>
  </div>
</div>
