<div class="front-container">
  <div class="front-left">
    <app-post-front></app-post-front>
  </div>
  <div class="front-right">
    <md-card class="login-card">
      <md-toolbar color="primary">Upcoming shows</md-toolbar>
      <md-card-content>
        <br>
        <table>
          <tr>
            <td>
              <div>
                <strong>Saturday Night Live</strong>
                23.2.2017
                <ul>
                  <li>New album from Radiohead</li>
                  <li>Elvis is alive</li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <strong>Saturday Night Live</strong>
                30.2.2017
                <ul>
                  <li>...</li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </md-card-content>
    </md-card>
  </div>
</div>
