.front-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.front-left {
  flex: 1 1 auto;
  margin: 10px;
}

.front-right {
  flex: 1 1 auto;
  margin: 10px;
  min-width: 400px;
}

@media screen and (max-width : 800px) {
  .front-right {
    display: none;
  }
}
