<div class="about">
  <h1>Projekt 2</h1>
  <ul>
    <li><a href="https://angular.io/">Angular 2</a></li>
    <li><a href="https://cli.angular.io/">Angular CLI</a></li>
    <li><a href="https://material.angular.io/">Angular Material 2</a></li>
    <li><a href="https://material.io/icons/">Material Font</a></li>
    <li><a href="http://angularfire2.com">AngularFire 2</a></li>
    <li><a href="https://developers.google.com/youtube/v3/">Google Youtube APIs</a></li>
    <li><a href="https://github.com/eduardolima93/angular2-spotify">Angular2 Spotify</a></li>
  </ul>
</div>
