<div class="about">
  <h1>Projekt 2</h1>
  <h2>Frameworks</h2>
  <ul>
    <li><a href="https://angular.io/">Angular 2</a></li>
    <li><a href="https://cli.angular.io/">Angular CLI</a></li>
    <li><a href="https://material.angular.io/">Angular Material 2</a></li>
    <li><a href="https://material.io/icons/">Material Icons Font</a></li>
    <li><a href="http://angularfire2.com">AngularFire 2</a></li>
  </ul>
  <h2>APIs</h2>
  <ul>
    <li><a href="https://console.firebase.google.com/project/hsr-fee16-projekt2">Google Firebase</a></li>
    <li><a href="https://developers.google.com/youtube/v3/">Google Youtube Data</a></li>
    <li><a href="https://developer.spotify.com/">Spotify Developer</a></li>
  </ul>
  <h2>Sites</h2>
  <ul>
    <li><a href="https://github.com/CASFEE16/projekt2">Github</a></li>
  </ul>
</div>
