.about {
  margin: 30px;
  height: 100%;
}

table {
  border: 1px solid black;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

title {
  line-height: 2em;
}

h1 {
  margin: 0;
  padding: 0;
}
