<md-sidenav-container fullscreen>

  <md-sidenav #sidenav [mode]="sidenavMode" class="app-sidenav" [opened]="sidenavOpened">
    <div class="sidenav-container">
      <div class="sidenav-header">
        <img md-card-image src="assets/radio.jpg">
        <div class="sidenav-user" *ngIf="loggedIn | async">{{sessionService.username}}</div>
      </div>
      <div class="sidenav-container">
        <div *ngFor="let navLink of navLinks">
          <a md-button class="sidenav-link" routerLink="{{navLink.link}}" routerLinkActive #rla="routerLinkActive">
            <div class="sidenav-item">
              <div class="sidenav-item-icon"><md-icon>{{navLink.icon}}</md-icon></div>
              <div class="sidenav-item-text">{{navLink.label}}</div>
            </div>
          </a>
        </div>
      </div>
      <hr>
      <p>Resources</p>
      <a md-button class="sidenav-link" href="https://www.youtube.com">
        <div class="sidenav-item">
          <div class="sidenav-item-icon"><md-icon>movie</md-icon></div>
          <div class="sidenav-item-text">Youtube</div>
        </div>
      </a>
      <a md-button class="sidenav-link" href="https://www.spotify.com">
        <div class="sidenav-item">
          <div class="sidenav-item-icon"><md-icon>music_video</md-icon></div>
          <div class="sidenav-item-text">Spotify</div>
        </div>
      </a>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <div>
      <button md-icon-button class="app-icon-button" (click)="onSidenavToggle()">
        <md-icon>menu</md-icon>
      </button>
    </div>
    <div class="toolbar-title">
    Radio App
    </div>
    <div class="toolbar-nav toolbar-nav-button">
        <div *ngFor="let navLink of navLinks">
          <a md-button class="toolbar-link" routerLink="{{navLink.link}}" routerLinkActive #rla="routerLinkActive">
            <md-icon>{{navLink.icon}}</md-icon> {{navLink.label}}
          </a>
        </div>
    </div>
    <div class="toolbar-nav toolbar-nav-menu">
      <button md-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon> <span class="toolbar-nav-menu-title">Navigation</span></button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngFor="let navLink of toolbarNavLinks" routerLink="{{navLink.link}}">
          <md-icon>{{navLink.icon}}</md-icon> {{navLink.label}}
        </button>
      </md-menu>
    </div>

    <div class="app-toolbar-filler"></div>
    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->
    <div class="toolbar-nav-user">
      <div *ngIf="loggedIn | async">
        <div><button md-fab (click)="onUserMenu()"><md-icon>face</md-icon></button></div>
      </div>
      <div class="toolbar-nav" *ngIf="!(loggedIn | async)">
        <div><a md-button class="toolbar-link" routerLink="/login">Login</a></div>
        <div><a md-button class="toolbar-link" routerLink="/register">Register</a></div>
      </div>
    </div>
  </md-toolbar>

  <div class="app-content">

    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>
