html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-sidenav {
  min-width: 10em;
}

.app-toolbar-filler {
  flex-grow: 1;
}

.sidenav-header {
  margin-bottom: 30px;
}

.sidenav-user {
  text-align: center;
}

.sidenav-container {
  widht: 100%;
}

.sidenav-link {
  width: 100%;
}

.sidenav-item {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: left;
}

.sidenav-item-icon {
  vertical-align: middle;
  text-align: left;
  margin-top: 5px;
}

.sidenav-item-text {
  margin-left: 20px;
  vertical-align: middle;
  text-align: left;
  flex-grow: 1;
}

.toolbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: left;
  margin-left: 20px;
}

.toolbar-link {
  height: 100%;
}

.toolbar-title {
  word-wrap: normal;
  white-space: nowrap;
}
