<md-sidenav-layout fullscreen>

  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
    <div class="sidenav-container">
      <img md-card-image src="assets/radio.jpg">
      <div *ngIf="loggedIn | async">{{sessionService.username}}</div>
        <md-list class="sidenav-links">
          <md-list-item class="sidenav-links" *ngFor="let navLink of navLinks">
            <a md-button class="sidenav-link" routerLink="{{navLink.link}}" routerLinkActive #rla="routerLinkActive">{{navLink.label}}</a>
          </md-list-item>
        </md-list>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button class="app-icon-button" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Radio App

    <nav>
      <a md-button *ngFor="let navLink of navLinks" routerLink="{{navLink.link}}" routerLinkActive #rla="routerLinkActive">
        {{navLink.label}}
      </a>
    </nav>
    <span class="app-toolbar-filler"></span>

    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->

    <span *ngIf="loggedIn | async">
      <button md-fab (click)="onUserMenu()"><md-icon>face</md-icon></button>
    </span>
    <span *ngIf="!(loggedIn | async)">
      <a md-button routerLink="/login">Login</a>
      <a md-button routerLink="/register">Register</a>
    </span>
  </md-toolbar>

  <div class="app-content">

    <router-outlet></router-outlet>

  </div>

</md-sidenav-layout>
