<div class="post-front-container">

  <md-card *ngIf="loggedIn | async" class="post-card">
      <form (ngSubmit)="onSubmit($event)">
        <div class="post-new-form">
          <div class="post-new-form-data">
            <div>
              <md-input-container>
                <textarea mdInput name="post" placeholder="Post an URL" cols="100" rows="2"
                          [(ngModel)]="post.text" (ngModelChange)="onTextChanged($event)"></textarea>
              </md-input-container>
            </div>
            <div>
              <md-radio-group name="type" [(ngModel)]="post.type">
                <md-radio-button *ngFor="let t of typeList" [value]="t.value">{{t.label}}</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div class="post-new-form-action">
            <button md-fab><md-icon>add</md-icon></button>
          </div>
        </div>
      </form>
  </md-card>

  <md-spinner *ngIf="loading"></md-spinner>

  <div class="post-list">
    <div *ngFor="let each of posts | async">
      <app-post [each]="each" [shows]="shows">
      </app-post>
    </div>
  </div>
</div>
