.post-front-container {
  heigth: 100%;
  overflow: hidden;
}

.post-card {
  margin-bottom: 10px;
}

.post-new-form {
  position: relative;
  margin-bottom: 20px;
}

.post-new-form-data {
  display: flex;
  flex-direction: column;
}

.post-new-form-action {
  position: absolute;
  bottom: -30px;
  right: -10px;
}

.post-card-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.post-card-rating {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

.post-card-show {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.post-card-menu {
  margin-top: 10px;
}

.post-card-show-select {
  width: 300px;
}

textarea {
  border: none;
}

md-radio-button {
  margin-right: 20px;
}

.post-list {
  // max-height: 100vh;
  overflow: auto;
}

