.post-front-container {
  heigth: 100%;
}
.post-card {
  margin-bottom: 10px;
}
.post-new-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.post-new-form-2 {
  margin-left: 20px;
  position: relative;
}

.post-new-form-2 button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.post-card-show-select {
  float: right;
  width: 300px;
}
