<div class="post-front-container">


  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="post-new-form">
      <div class="post-new-form-1">
        <div>
          <textarea name="Text1" cols="50" rows="5" [(ngModel)]="post.text"></textarea>
        </div>
        <div>
          <md-radio-group name="type" [(ngModel)]="post.type">
            <md-radio-button *ngFor="let t of typeList" [value]="t.value">{{t.label}}</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="post-new-form-2">
        <button md-fab><md-icon>add</md-icon></button>
      </div>
      </div>
    </form>
  </div>

  <md-spinner *ngIf="loading"></md-spinner>

  <div>
    <md-card class="post-card" *ngFor="let each of posts | async">
      <md-card-header>
        <div md-card-avatar><md-icon>{{getIcon(each.post)}}</md-icon></div>
        <md-card-title><strong>{{each.post.text}}</strong> {{each.post.date | date}}</md-card-title>
      </md-card-header>
      <md-card-actions>
        <button md-mini-fab (click)="onDelete(each.post)"><md-icon>delete</md-icon></button>
        <md-select class="post-card-show-select" placeholder="Select show" [(ngModel)]="each.post.show_key">
          <md-option *ngFor="let show of shows | async" [value]="show['$key']" (onSelect)="onSelectShow(each.post, show)">
            {{ show.title }} {{show.date | date}}
          </md-option>
        </md-select>
      </md-card-actions>
    </md-card>

  </div>
</div>
