<div class="post-front-container">


  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="post-new-form">
      <div class="post-new-form-1">
        <div>
          <textarea name="Text1" cols="50" rows="5" [(ngModel)]="post.text"></textarea>
        </div>
        <div>
          <md-radio-group name="type" [(ngModel)]="post.type">
            <md-radio-button *ngFor="let t of typeList" [value]="t.value">{{t.label}}</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="post-new-form-2">
        <button md-fab><md-icon>add</md-icon></button>
      </div>
      </div>
    </form>
  </div>

  <md-spinner *ngIf="loading"></md-spinner>

  <div>
    <md-card class="post-card" *ngFor="let post of posts | async">
      <md-card-header>
        <div md-card-avatar><md-icon>{{getIcon(post)}}</md-icon></div>
        <md-card-title><strong>{{post.text}}</strong> {{post.date | date}}</md-card-title>
      </md-card-header>
      <md-card-actions>
        <button md-mini-fab (click)="onDelete(post)"><md-icon>delete</md-icon></button>
      </md-card-actions>
    </md-card>

  </div>
</div>
