.login-form {
  display: flex;
  flex-direction: column;
}

.login-card {
  width: 350px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alert {
  padding: 10px;
  border: solid 1px #d81b60;
}
