<div class="show-container">
  <md-card class="show-card">
    <md-toolbar color="primary">{{show?.title}}</md-toolbar>
    <md-card-content>
      <br>
      <form class="show-form" (ngSubmit)="onSubmit($event)">
        <div>
        <md-input-container>
          <input md-input placeholder="Title" required type="text"
                 [(ngModel)]="show.title" name="title">
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <input md-input placeholder="Date" type="date" required
                 [(ngModel)]="show.date" name="date">
        </md-input-container>
        </div>
        <button md-button type="button" (click)="onSubmit($event)">OK</button>
        <button md-button type="button" (click)="onCancel()">Cancel</button>
      </form>
    </md-card-content>
  </md-card>
</div>
