<div class="show-container">
  <md-card class="show-card">
    <md-toolbar color="primary">{{show?.title}}</md-toolbar>
    <md-card-content>
      <br>
      <form class="show-form" (ngSubmit)="onSubmit($event)">
        <div>
        <md-input-container>
          <input mdInput placeholder="Title" required type="text"
                 [(ngModel)]="show.title" name="title">
        </md-input-container>
        </div>
        <div>
        <md-input-container>
          <input mdInput placeholder="Date" type="date" required
                 [(ngModel)]="show.date" name="date">
        </md-input-container>
        </div>

        <table>
          <tr *ngFor="let post of posts | async">
            <td [class]="getPostClass(post)">{{post.text}}</td>
            <td><button md-button type="button" (click)="onRemovePost(post)"><md-icon>clear</md-icon></button></td>
          </tr>
        </table>

        <button md-button type="button" (click)="onSubmit($event)"><md-icon>save</md-icon>Save</button>
        <button md-button type="button" (click)="onCancel()"><md-icon>cancel</md-icon>Cancel</button>
      </form>

    </md-card-content>
  </md-card>
</div>
