<div class="show-container" [ngClass]="{'on-air': onAir, 'fullscreen': fullscreen}">

  <div class="show-content">

    <header class="toolbar" [ngClass]="{'on-air': onAir}">
      <div class="toolbar">
        <div class="left">
          <h2>{{show?.title}}</h2></div>
        <div class="middle">
          <h2>{{currentDateTime | date:'medium'}}</h2>
        </div>
        <div class="right">
          <button class="action" md-button type="button" (click)="toggleState($event)"><md-icon class="action">{{state}}</md-icon></button>
          <button class="action" md-button type="button" (click)="toggleMode($event)"><md-icon class="action">{{screenAction}}</md-icon></button>
        </div>
      </div>
    </header>

    <div class="content">
      <div *ngFor="let post of posts | async">
        <app-post-air [post]="post"></app-post-air>
      </div>
    </div>

  </div>
</div>
