<md-card class="show-card" >
  <md-card-header [ngClass]="{'on-air': live && show.air}">
    <div md-card-avatar><md-icon>radio</md-icon></div>
    <md-card-title><strong>{{show?.title}}</strong></md-card-title>
    <md-card-subtitle>{{show?.date | date}}</md-card-subtitle>
    <div *ngIf="live && show.air" class="on-air-message">ON AIR</div>
  </md-card-header>
  <md-card-content>
    <p>{{show?.description}}</p>
    <table>
      <tr *ngFor="let post of posts | async" on-mouseenter='onMouseEnter(post)' on-mouseleave="onMouseLeave(post)">
        <td>
          <md-icon>{{postUtils.getIcon(post)}}</md-icon></td>
        <td><div class="cell-with-action">{{post.text}}
          <span class="post-actions" *ngIf="showPostActions(post)">
            <button class="post-action-button" md-button (click)="onPostRemove(post)"><md-icon class="small-icon">clear</md-icon></button>
          </span>
        </div>
        </td>
      </tr>
    </table>
  </md-card-content>
  <md-card-actions *ngIf="loggedIn | async">
    <button md-button (click)="onAir(show)"><md-icon>play_arrow</md-icon></button>
    <button md-button (click)="onEdit(show)"><md-icon>edit</md-icon></button>
    <button md-button (click)="onDelete(show)"><md-icon>delete</md-icon></button>
  </md-card-actions>
</md-card>
