<md-card class="show-card">
  <md-card-header>
    <div md-card-avatar><md-icon>radio</md-icon></div>
    <md-card-title><strong>{{show.title}}</strong> {{show.date | date}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <ul>
      <li *ngFor="let post of posts">
        {{post.text}}
      </li>
    </ul>
  </md-card-content>
  <md-card-actions *ngIf="loggedIn | async">
    <button md-mini-fab (click)="onAir(show)"><md-icon>play_arrow</md-icon></button>
    <button md-mini-fab (click)="onEdit(show)"><md-icon>edit</md-icon></button>
    <button md-mini-fab (click)="onDelete(show)"><md-icon>delete</md-icon></button>
  </md-card-actions>
</md-card>
